@import './scss/variables';
@import './scss/header.scss';
@import './scss/table.scss';
@import './scss/search.scss';
@import '~normalize.css/normalize';
@import './scss/film.scss';

.container {
    overflow: hidden;
    overflow-x: auto;
    min-width: 400px;
    height: 100%;
}
