@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
    height: $header-height;
    font-family: 'Open Sans', sans-serif;
    background-color: $header-backcolor;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

    &.dark {
        background-color: $dark-color-1;
    }

    .theme {
        position: absolute;
        left: 20px;
        display: flex;
        width: 100px;
        justify-content: space-between;

        .dark {
            width: 60px;
            text-align: center;
            background-color: $dark-color-1;
            border: 2px solid $dark-color-2;
            border-radius: 10px;
            padding: 5px 0px;
            font-size: 12px;
            margin-right: 10px;

            &:hover {
                cursor: pointer;
            }
        }

        .light {
            width: 60px;
            text-align: center;
            color: $dark-color-1;
            background-color: $dark-color-2;
            border: 2px solid $dark-color-1;
            border-radius: 10px;
            padding: 5px 0px;
            font-size: 12px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__title {
        position: relative;
        font-size: 40px;
        color: $dark-color-1;

        &.dark {
            color: $dark-color-2;
        }
    }
}